<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CamChrome</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-200 font-sans">
    <header class="flex justify-between items-center bg-gray-800 p-4 text-white">
        <div class="flex items-center">
            <img src="static/logo.png" alt="CamChrome" class="w-44 h-12 mr-4">
        </div>
        <nav>
            <ul class="flex space-x-4">
                <li><a href="#home" class="hover:bg-gray-600 p-2 rounded">Home</a></li>
                <li><a href="#showcase" class="hover:bg-gray-600 p-2 rounded">Showcase</a></li>
                <li><a href="#about" class="hover:bg-gray-600 p-2 rounded">About</a></li>
            </ul>
        </nav>
    </header>

    <main class="p-6">
        <div class="relative max-w-full mx-auto" id="home">
            <button class="absolute top-1/2 left-0 transform -translate-y-1/2 bg-gray-600 text-white p-2 rounded-full">&#10094;</button>
            <img src="static/mieayam.png" alt="Food Image" class="w-full max-h-96 rounded-md hidden active">
            <img src="static/buburayam.png" alt="Food Image" class="w-full max-h-96 rounded-md hidden">
            <img src="static/mieayam copy 2.png" alt="Food Image" class="w-full max-h-96 rounded-md hidden">
            <img src="static/buburayam copy.png" alt="Food Image" class="w-full max-h-96 rounded-md hidden">
            <button class="absolute top-1/2 right-0 transform -translate-y-1/2 bg-gray-600 text-white p-2 rounded-full">&#10095;</button>
        </div>
        <div class="text-center py-4">
            <span class="inline-block h-2 w-2 bg-gray-400 rounded-full mx-1 cursor-pointer active"></span>
            <span class="inline-block h-2 w-2 bg-gray-400 rounded-full mx-1 cursor-pointer"></span>
            <span class="inline-block h-2 w-2 bg-gray-400 rounded-full mx-1 cursor-pointer"></span>
            <span class="inline-block h-2 w-2 bg-gray-400 rounded-full mx-1 cursor-pointer"></span>
        </div>

        <section class="bg-gray-400 p-6 rounded-md mb-6" id="showcase">
            <h2 class="bg-gray-800 text-white inline-block p-2 rounded-md mb-4">SHOWCASE</h2>
            <div class="flex flex-wrap -mx-2">
                <div class="w-full md:w-1/3 px-2 mb-4">
                    <div class="bg-white rounded-md shadow-md text-center">
                        <img src="static/mieayam.png" alt="Showcase Image" class="w-full rounded-t-md">
                        <h3 class="bg-gray-800 text-white p-2">SHOWCASE</h3>
                        <button onclick="runScript()" class="bg-white border-2 border-gray-800 text-gray-800 py-2 px-4 m-4 rounded-md hover:bg-gray-800 hover:text-white transition">Start</button>
                    </div>
                </div>
                <div class="w-full md:w-1/3 px-2 mb-4">
                    <div class="bg-white rounded-md shadow-md text-center">
                        <img src="static/mieayam.png" alt="Showcase Image" class="w-full rounded-t-md">
                        <h3 class="bg-gray-800 text-white p-2">SHOWCASE</h3>
                        <button onclick="runScript()" class="bg-white border-2 border-gray-800 text-gray-800 py-2 px-4 m-4 rounded-md hover:bg-gray-800 hover:text-white transition">Start</button>
                    </div>
                </div>
                <div class="w-full md:w-1/3 px-2 mb-4">
                    <div class="bg-white rounded-md shadow-md text-center">
                        <img src="static/mieayam.png" alt="Showcase Image" class="w-full rounded-t-md">
                        <h3 class="bg-gray-800 text-white p-2">SHOWCASE</h3>
                        <button onclick="runScript()" class="bg-white border-2 border-gray-800 text-gray-800 py-2 px-4 m-4 rounded-md hover:bg-gray-800 hover:text-white transition">Start</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-gray-400 p-6 rounded-md" id="about">
            <h2 class="bg-gray-800 text-white inline-block p-2 rounded-md mb-4">ABOUT</h2>
            <div class="flex flex-wrap -mx-2">
                <div class="w-full md:w-1/3 lg:w-1/6 px-2 mb-4">
                    <div class="bg-white rounded-md shadow-md text-center">
                        <img src="static/buburayam.png" alt="Showcase Image" class="w-full rounded-t-md">
                        <h3 class="bg-gray-800 text-white p-2">ZULFAJRI SURYA</h3>
                        <p class="p-2 font-bold text-gray-800">4332311026</p>
                    </div>
                </div>
                <div class="w-full md:w-1/3 lg:w-1/6 px-2 mb-4">
                    <div class="bg-white rounded-md shadow-md text-center">
                        <img src="static/buburayam.png" alt="Showcase Image" class="w-full rounded-t-md">
                        <h3 class="bg-gray-800 text-white p-2">ARTHUR OCTIANDRA YULIO</h3>
                        <p class="p-2 font-bold text-gray-800">4332311028</p>
                    </div>
                </div>
                <div class="w-full md:w-1/3 lg:w-1/6 px-2 mb-4">
                    <div class="bg-white rounded-md shadow-md text-center">
                        <img src="static/buburayam.png" alt="Showcase Image" class="w-full rounded-t-md">
                        <h3 class="bg-gray-800 text-white p-2">ILHAM PRATAMA</h3>
                        <p class="p-2 font-bold text-gray-800">4332311016</p>
                    </div>
                </div>
                <div class="w-full md:w-1/3 lg:w-1/6 px-2 mb-4">
                    <div class="bg-white rounded-md shadow-md text-center">
                        <img src="static/buburayam.png" alt="Showcase Image" class="w-full rounded-t-md">
                        <h3 class="bg-gray-800 text-white p-2">HAIQAL FEBRYAN</h3>
                        <p class="p-2 font-bold text-gray-800">4332311021</p>
                    </div>
                </div>
                <div class="w-full md:w-1/3 lg:w-1/6 px-2 mb-4">
                    <div class="bg-white rounded-md shadow-md text-center">
                        <img src="static/buburayam.png" alt="Showcase Image" class="w-full rounded-t-md">
                        <h3 class="bg-gray-800 text-white p-2">DINA NURFEBRIYANTI</h3>
                        <p class="p-2 font-bold text-gray-800">4332311018</p>
                    </div>
                </div>
                <div class="w-full md:w-1/3 lg:w-1/6 px-2 mb-4">
                    <div class="bg-white rounded-md shadow-md text-center">
                        <img src="static/buburayam.png" alt="Showcase Image" class="w-full rounded-t-md">
                        <h3 class="bg-gray-800 text-white p-2">WINDIANA MANURUNG</h3>
                        <p class="p-2 font-bold text-gray-800">4332311039</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script>
        function runScript() {
            fetch('/run-script', {
                method: 'POST'
            })
                .then(response => response.text())
                .then(data => {
                    alert(data);
                });
        }

        let currentSlide = 0;
        const slides = document.querySelectorAll('.slider img');
        const dots = document.querySelectorAll('.dots span');

        document.querySelector('.next').addEventListener('click', () => {
            changeSlide(currentSlide + 1);
        });

        document.querySelector('.prev').addEventListener('click', () => {
            changeSlide(currentSlide - 1);
        });

        dots.forEach((dot, index) => {
            dot.addEventListener('click', () => {
                changeSlide(index);
            });
        });

        function changeSlide(index) {
            slides[currentSlide].classList.remove('active');
            dots[currentSlide].classList.remove('active');
            currentSlide = (index + slides.length) % slides.length;
            slides[currentSlide].classList.add('active');
            dots[currentSlide].classList.add('active');
        }

        slides[currentSlide].classList.add('active');
        dots[currentSlide].classList.add('active');
    </script>
</body>

</html>
